.header-wrapper {
  width: 100%;
  background-color: #16161d;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.header-nav ul li {
  list-style: none;
}
